.App{
    margin: 0 auto;
    max-width: 1500px;
}

.login-btn{
    color: #FCFCFC;
    background: #037971;
    border-radius: 2px;
    width: 84px;
    height: 38px;
}

// .rs-btn-default{
//     color: #FCFCFC;
//     background: #037971;
//     border-radius: 2px;
//     width: 84px;
//     height: 38px;
// }
// .rs-btn-default:hover{
//     color: #FCFCFC;
//     background: #037971;
// }